.deps/
.libs/
Makefile
Makefile.in
.*.dep
*.la
*.ldd
*.ldx
*.lo
*.mo
*.o
.dirstamp
stamp-h1
stamp-h2

# /
/.version
/@
/aclocal.m4
/autom4te.cache/
/build-arch-stamp
/build-indep-stamp
/compile
/config.*
/configure
/libtool
/python-config

/default.sym

/spooler/libkcpyplug.sym
/spooler/PythonSWIGRuntime.h
/eidprint
/kopano-admin
/kopano-archiver
/kopano-cfgchecker
/kopano-dagent
/kopano-dbadm
/kopano-fsck
/kopano-gateway
/kopano-ibrule
/kopano-ical
/kopano-monitor
/kopano-oof
/kopano-passwd
/kopano-pst-import
/kopano-server
/kopano-spooler
/kopano-srvadm
/kopano-stats
/kopano-statsd
/kopano-storeadm
/kopano-vcfimport
/kscriptrun
/mapitime
/rosie-test
/rtfcomp
/mapi4linux/src/libmapi.sym
/provider/plugin.sym
/provider/provider.sym
/provider/soap/
/ECtools/backup/build/
/ECtools/backup/kopano-backup
/ECtools/backup/kopano_backup/version.py
/ECtools/backup/staging/
/ECtools/cli/build/
/ECtools/cli/kopano-cli
/ECtools/cli/kopano_cli/version.py
/ECtools/cli/staging/
/ECtools/migration-pst/kopano-migration-pst
/ECtools/migration-pst/kopano_migration_pst/version.py
/ECtools/migration-pst/staging/
/ECtools/presence/build/
/ECtools/presence/kopano-presence
/ECtools/presence/kopano_presence/version.py
/ECtools/presence/staging/
/ECtools/rest/kopano_rest/version.py
/ECtools/search/build/
/ECtools/search/kopano-search
/ECtools/search/kopano_search/version.py
/ECtools/search/staging/
/ECtools/spamd/kopano-spamd
/ECtools/spamd/kopano_spamd/version.py
/ECtools/utils/kopano-autorespond.py
/ECtools/utils/kopano-mr-accept
/ECtools/utils/kopano-mr-process
/ECtools/utils/kopano_utils/version.py
/swig/python/kopano/kopano/version.py
/swig/python/MAPI/version.py
/tests/ablookup
/tests/imtomapi
/tests/kc-335
/tests/mapialloctime
/tests/readflag
/tests/ustring
/tests/zcpmd5

# /autoconf/
/autoconf/ltsugar.m4
/autoconf/libtool.m4
/autoconf/ltversion.m4
/autoconf/depcomp
/autoconf/missing
/autoconf/lt~obsolete.m4
/autoconf/config.guess
/autoconf/ltoptions.m4
/autoconf/ltmain.sh
/autoconf/config.sub
/autoconf/install-sh
/autoconf/ylwrap
/autoconf/compile

# /common/
/common/config.h*
/common/cov-scope
/common/ecversion.h
/common/include/kopano/ecversion.h
/common/kopano.pc
/common/libkcutil.sym

## /doc/php-ext/
#/doc/php-ext/*html
#

# /installer/
/installer/kopano.ldif

# /installer/linux/
/installer/linux/ldap.openldap.cfg
/installer/linux/ldap.active-directory.cfg
/installer/linux/ldapms.openldap.cfg
/installer/linux/ldapms.active-directory.cfg
/installer/linux/kopano-statsd.service

# /installer/userscripts/
/installer/userscripts/creategroup
/installer/userscripts/createuser
/installer/userscripts/deletegroup
/installer/userscripts/deleteuser
/installer/userscripts/createcompany
/installer/userscripts/deletecompany

/provider/libkcsoap.sym
/provider/libkcserver.sym

# /swig/python/
/swig/python/build/
/swig/python/staging/
/swig/python/MAPICore.py
/swig/python/mapi_wrap.cxx
/swig/python/mapi_wrap.h
/swig/python/inetmapi.py
/swig/python/inetmapi_wrap.cxx
/swig/python/icalmapi.py
/swig/python/icalmapi_wrap.cxx
/swig/python/libcommon.py
/swig/python/libcommon_wrap.cxx
/swig/python/archiver.py
/swig/python/archiver_wrap.cxx
/swig/python/licenseclient.py
/swig/python/licenseclient_wrap.cxx
/swig/python/libfreebusy.py
/swig/python/libfreebusy_wrap.cxx
/swig/python/RecurrenceState.py
/swig/python/RecurrenceState_wrap.cxx
/swig/python/kopano/build/
/swig/python/kopano/dist/
/swig/python/zarafa/build/
/swig/python/python.sym

# Ignore Python compiled files
*.pyc
*.pyo
*.egg-info
