# The language for folders in newly-created stores, specified as a
# locale identifier ("en_US", "de_DE", etc.)
#default_store_locale =

#server_socket = default:
#sslkey_file = some.pem
#sslkey_pass = magic
