##############################################################
# DAGENT SETTINGS

# connection to the storage server
#server_socket = file:///var/run/kopano/server.sock

##############################################################
# DAGENT SSL LOGIN SETTINGS
#
# Note: server_socket must be set to https://servername:portname/
#       to use this type of login method

# Login to the storage server using this SSL Key
#sslkey_file = /etc/kopano/ssl/dagent.pem

# The password of the SSL Key
#sslkey_pass = replace-with-dagent-cert-password

##############################################################
# DAGENT LOG SETTINGS

# Logging method (syslog, file)
#log_method = auto

# Loglevel (0(none), 1(crit), 2(err), 3(warn), 4(notice), 5(info), 6(debug))
#log_level	=	3

# Logfile for log_method = file, use '-' for stderr
#log_file = -

# Log timestamp - prefix each log line with timestamp in 'file' logging mode
#log_timestamp = yes

# Log raw message to a file, please specify a username,
# separate users with a space, or use 'all' to log all
#log_raw_message = no

# Log raw messages path
#log_raw_message_path = /tmp

# Buffer logging in what sized blocks. 0 for line-buffered (syslog-style).
#log_buffer_size = 0

# for temporary files
#tmp_path = /tmp

##############################################################
# DAGENT LMTP SETTINGS
#  start dagent with -d to create an lmtp daemon of the kopano-dagent

# binding address for LMTP daemon
# change to the empty string if you require connections on other addresses
#server_bind =

# Limit to "interface", for different meanings:
# 1. In case of IPv6, the Linux kernel checks the connection *dstaddr* against
#    the address(es) of the server_bind_intf interface.
# 2. In case of IPv4, the Linux kernel calculates the reverse route *interface*
#    and compares that to server_bind_intf.
#
#server_bind_intf =

# Space-separated list of address:port specifiers for where the server should
# listen for LMTP connections.
#
#    "unix:/var/spool/kopano/dagent.sock" — local socket
#    "*:236" — port 2003, all protocols
#    "[::]:236" — port 2003 on IPv6 only
#    "[2001:db8::1]:236" — port 2003 on specific address only
#
#lmtp_listen = *:2003

# Maximum LMTP threads that ca be running simultaneously
# This is also limited by your SMTP server. (20 is the postfix default concurrency limit)
#lmtp_max_threads = 20

# run as specific user in LMTP mode.
#   make sure this user is listed in local_admin_users in your storage server config
#   or use SSL connections with certificates to login
#run_as_user = kopano

# run as specific group in LMTP mode.
#run_as_group = kopano

# control pid file
#pid_file = /var/run/kopano/dagent.pid

# create memory coredumps upon crash [no, systemdefault, yes]
#coredump_enabled = systemdefault

# The following e-mail header will mark the mail as spam, so the mail
# is placed in the Junk Mail folder, and not the Inbox.
# The name is case insensitive.
# set to empty to not use this detection scheme.
#spam_header_name = X-Spam-Status

# If the above header is found, and contains the following value
# the mail will be considered as spam.
# Notes:
#  - The value is case insensitive.
#  - Leading and trailing spaces are stripped.
#  - The word 'bayes' also contains the word 'yes'.
#spam_header_value = Yes,

# Whether dagent should filter HTML messages or not. Usually, WebApp takes
# care of this. Letting dagent do this improves the user latency a
# bit, but uses more disk space. (yes/no)
#html_safety_filter = no

##############################################################
# DAGENT ARCHIVING SETTINGS

# Enable archive_on_delivery to automatically archive all incoming
# messages on delivery.
# This will do nothing if no archive is attached to the target mailbox.
#archive_on_delivery = no

##############################################################
# DAGENT PLUGIN SETTINGS

# Enable the dagent plugin framework
#plugin_enabled = yes

# Path to the dagent plugin manager
#plugin_manager_path = /usr/share/kopano-dagent/python

# Path to the activated dagent plugins.
#   This folder contains symlinks to the kopano plugins and custom scripts. The plugins are
#   installed in '/usr/share/kopano-dagent/python/plugins/'. To activate a plugin create a symbolic
#   link in the 'plugin_path' directory.
#
# Example:
#  $ ln -s /usr/share/kopano-dagent/python/plugins/BMP2PNG.py /var/lib/kopano/dagent/plugins/BMP2PNG.py
#plugin_path = /var/lib/kopano/dagent/plugins

##############################################################
# DAGENT RULE SETTINGS

# Enable the addition of X-Kopano-Rule-Action headers on messages
# that have been forwarded or replied by a rule.
#set_rule_headers = yes

# Enable this option to prevent rules to cause a loop. An e-mail can only be forwarded
# once. When this option is enabled, the set_rule_headers option must also be enabled.
#no_double_forward = no

# Some emails do not contain any charset information, or may wrongly specify
# us-ascii when they are not. If this option is set, mails which would normally
# be decoded as ASCII will have their content instead interpreted in the
# alternate character set specified here (which must also be ASCII compatible).
#default_charset = us-ascii

# When multiple HTML MIME parts are found, they can be joined to form a
# continuous e-mail. (If not, they will become attachments.) Joining them
# however can compromise the document integrity, as stylesheets and JavaScripts
# affect the entire joined document.
#
#insecure_html_join = no

# A list of space-separated domains to which forwarding via a rule is allowed.
# The '*' matches zero or more characters, _including_ dots.
# Example:
#    forward_whitelist_domains = kopano.com *.kopano.com
#
# Example:
#    forward_whitelist_domains = kopano.com sub.kopano.com
#
#forward_whitelist_domains = *

# A custom-defined reply subject to the user with a rule forwarding to a
# domain not in forward_whitelist_domains.
#forward_whitelist_domain_subject = REJECT: %subject not forwarded (administratively blocked)

# A custom-defined reply message to the user with a rule forwarding to a
# domain not in forward_whitelist_domains.
#forward_whitelist_domain_message = The Kopano mail system has rejected your request to forward your e-mail with subject %subject (via mail filters) to %sender: the operation is not permitted.\n\nRemove the rule or contact your administrator about the forward_whitelist_domains setting.
