##############################################################
# Groupware REST API SETTINGS

# Number of worker processes.
#num_workers = 8

# Disable TLS validation for all client request.
# When set to yes, TLS certificate validation is turned off. This is insecure
# and should not be used in production setups.
#insecure = no

# Path where to create the gc-rest sockets.
#socket_path = /var/run/kopano-grapi

# PID file location.
#pid_file = /var/run/kopano-grapi/grapi.pid

# Socket to find the connection to the storage server.
# Use https to reach servers over the network.
#server_socket = file:///var/run/kopano/server.sock
