[Unit]
Description=Kopano Core Quota Manager
Documentation=man:kopano-monitor(8) man:kopano-monitor.cfg(5)

[Service]
Type=simple
ExecStart=/usr/sbin/kopano-monitor -F
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
