[Unit]
Description=Kopano Core Spooler
Documentation=man:kopano-spooler(8) man:kopano-spooler.cfg(5)

[Service]
Type=simple
ExecStart=/usr/sbin/kopano-spooler -F
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
