[Unit]
Description=Kopano Core Presence Daemon

[Service]
Type=simple
ExecStart=/usr/sbin/kopano-presence -F
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
