[Unit]
Description=Kopano Core Quota Manager
Documentation=man:kopano-monitor(8) man:kopano-monitor.cfg(5)

[Service]
Type=simple
Environment=LC_ALL=C LANG=C
ExecStart=/usr/sbin/kopano-monitor -F -c /etc/kopano/monitor.cfg

[Install]
WantedBy=multi-user.target
