[Unit]
Description=Kopano Core Search Engine
Documentation=man:kopano-search(8) man:kopano-search.cfg(5)

[Service]
Type=simple
ExecStart=/usr/sbin/kopano-search -F
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
