[Unit]
Description=Kopano Groupware Core iCal/CalDAV Gateway
Documentation=man:kopano-ical(8) man:kopano-ical.cfg(5)
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/kopano-ical
ExecReload=/bin/kill -HUP $MAINPID
ProtectSystem=full
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
PrivateTmp=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

[Install]
WantedBy=multi-user.target
