[Unit]
Description=Kopano Groupware Core Storage Server
Documentation=man:kopano-server(8) man:kopano-server.cfg(5) man:kopano-admin(8)
After=network.target mysql.service mariadb.service

[Service]
Type=simple
ExecStart=/usr/sbin/kopano-server -F
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
