[Unit]
Description=Kopano Groupware Core Presence Daemon

[Service]
Type=simple
ExecStart=/usr/sbin/kopano-presence
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
