[Unit]
Description=Kopano Groupware Core SPAM learning Daemon
Documentation=man:kopano-spamd(8) man:kopano-spamd.cfg(5)

[Service]
Type=simple
Environment=LC_ALL=C LANG=C
ExecStart=/usr/sbin/kopano-spamd -F
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
