[Unit]
Description=Kopano Groupware Core Statistics Daemon
Documentation=man:kopano-statsd(8) man:kopano-statsd.cfg(5)

[Service]
Type=simple
ExecStart=/usr/sbin/kopano-statsd

[Install]
WantedBy=multi-user.target
