[Unit]
Description=Kopano Groupware Core Spooler
Documentation=man:kopano-spooler(8) man:kopano-spooler.cfg(5)

[Service]
Type=simple
Environment=LC_CTYPE=en_US.UTF-8
EnvironmentFile=-/etc/sysconfig/kopano
EnvironmentFile=-/etc/default/kopano
ExecStart=/usr/sbin/kopano-spooler -F
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
