[Unit]
Description=Kopano Groupware Core SPAM learning Daemon
Documentation=man:kopano-spamd(8) man:kopano-spamd.cfg(5)

[Service]
Type=simple
Environment=LC_ALL=C LANG=C
ExecStart=/usr/sbin/kopano-spamd
ExecReload=/bin/kill -HUP $MAINPID
ProtectSystem=full
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
PrivateTmp=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

[Install]
WantedBy=multi-user.target
