div.delegates {
	clear:both;
	margin-left:20px;
}
div.delegates_info {
	margin-right:53px;
	margin-bottom:25px;
}
div.delegateslist {
	float:left;
	width:310px;
	margin-bottom:5px;
}
div.delegateslist_container {
	height:150px;
	width:270px;
}
div.delegates_options {
	float:right;
	width:110px;
	height:160px;
	margin-right:25px;
}
div.delegates_options input.buttonsize {
	width:100px;
	margin-left:25px;
	margin-bottom:5px;
}
.delegatesfolders {
	width:10%;
	padding-left:36px;
}
#delegatespermissions select {
	width:80%
}
